/*@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Pacifico&display=swap');



/* adds styles to all the way to the page */

*{
  font-family: 'M PLUS Rounded 1c',sans-serif;
  font-family: 'Pacifico', cursive;
}
body{
  text-align: center;
  background:lightblue;
  color:white;
}

/*-------------------------Navbar------------*/


/*.container{
  width: 100px;
  height: 100px;
  border-radius: 10%;
  overflow: hidden;
  margin-top: 4px;
}  */
/*----------------Header--------------------*/
.img_logo{
  border-radius:30%;
}
.ui.inverted.violet.button{
  height:fit-content;
 margin-left:80%;

}

/*------------------Home page---------------------*/
.class_button{
  font-size: 15px;
  font-weight:bold ;
  padding:12px 40px;
  border-radius: 30px;
  border:none;
  background:linear-gradient(45deg,rgb(229, 6, 236),rgb(255, 34, 0));
}
/*-----------------------background image-----*/
  .home-class{
    display:flex;
    flex-direction: column;
  }

  
  
.class_home{

  width:100%;
}


h1{
  display:block;
}
h3{
  margin-top:0;
  padding:10px;
  color:whitesmoke;
}




